.card-title {
	color: var(--textColor);
}

.card {
	background-color: "black";
}

.restaurants-list-container {
	height: 100vh;
	overflow: scroll;
	background-color: var(--restaurantContainerBackColor);
}

.bg-primary {
	background-color: var(--headerBackColor) !important;
}

.card-form {
	background-color: var(--headerBackColor);
	box-shadow: none;
}

.card-form:hover {
	background-color: var(--headerBackColor);
	box-shadow: none;
}

.btn-form {
	background-color: #ffb400;
}

.fa-sort-amount-down {
	color: var(--icon);
}

.fa-sort-amount-up {
	color: var(--icon);
}

.fa-star {
	color: var(--icon);
}

.fa-utensils {
	color: var(--icon);
}

.hidden {
	display: none;
}

.textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
}

.grid {
	width:250px;
  	float:left;
	background-color: "black";
}

.div{
	width:1000px;
  float:left;
	align-items: center;
}

.wrapper {
  width:700px;
  clear:both;
}

.work{
	display: block;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    background: #f5f5f5;
    border: 1px solid #e9ebec;
    outline: none;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-size: 14px;
    padding: 0 12px;
    color: #808080;
}

@media only screen and (max-width: 1000px) {
	.restaurants-list-container {
		height: 50vh;
	}
}
